@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-textfield-decoration-container {
    font-family: 'DM Serif Text', serif;
}

body {
    font-family: 'DM Serif Text', serif;

}

/* Inicio */
.Producto-Estrella {
    background-color: #f6db7ce0;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.Comprame {
    background-color: white;
    color:black;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;

}
.Comprame:hover {
    background-color: #af9e6e;
    color: white;
}

.hero-section {
  background: linear-gradient(#af9e6e, #f6db7ce0), center/cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.hero-section:hover {
  transform: scale(1.02);

}
.btn {
    background-color: white;
    color:black;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;;

}
.btn:hover {
    background-color: #af9e6e;
    color: white;
}

/* Sobre nosotros */

.nosotros {    
    padding: 50px 20px;
    text-align: center;
    color:white

}
.lista-nosotros {
    list-style-type:none;
    padding: 10px;;
    margin: 10px;;
    text-align:left;  

}
.lista-nosotros li::before {
    content: "✔️ ";    
    margin-right: 1%;

}
/* Productos */
.Compramebtn {
     background-color: white;
    color:black;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    max-width: 200px;


}
.Compramebtn:hover {
    background-color: #af9e6e;
    color: white;
    text-align: center;
    width: 80%;
    max-width: 200px;
}

.card-img-top {
  height: 300px;
  width: 100%;
  object-fit: cover;


}
.card-body {
  text-align: center;
  color: whitesmoke;

}
.card {
  border: none;
  background-color: #b7ad91;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Contacto */
.contacto {
  padding: 50px 20px;
  text-align: center;
  color: white;  
}

.contacto-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;             
  flex-wrap: wrap;        
  margin-top: 2rem;
}


.info-contacto, 
.Formulario {
  flex: 1;
  min-width: 300px;      
}


.info-contacto {
  background-color: #cabc96;
  padding: 1.5rem;
  border-radius: 10px;
   box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.Formulario {
  background-color:  #cabc96;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}


@media (max-width: 768px) {
  .contacto-wrapper {
    flex-direction: column;
  }
}

/* modificando colores header y body */

.bodycolor {
     background: linear-gradient(#af9e6e, #f6db7ce0), center/cover;
     /* transition: all 0.3s ease; */
}

    /* .bodycolor:hover {
        /* transform: scale(1.02);
    } */

/* modificamos el footer y header*/
footer {
  background: linear-gradient(#f6db7ce0, #c6ad8d), center/cover;
   box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
header {
  box-shadow: 0 4px 6px rgba(0, 0, 0,0.1);
}

.completada {
    text-decoration: line-through;
    color: gray;
}